$fontSize1: 14px;
$fontSize2: 15px;
$fontSize3: 18px;
$fontSize4: 16px;

$backgroundColor: #202d36;
$elementColor: #2b3743;
$elementActiveColor: #1f2c38;
$elementHoverColor: #44505c;
$borderColor: #2b374380;

@mixin responsive-desktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

@mixin responsive-tablet {
  @media screen and (min-width: 376px) and (max-width: 1439px) {
    @content;
  }
}
