@import "_variables.scss";

.search {
  display: flex;
  flex-direction: column;
  @include responsive-desktop {
    width: 100%;
  }
  &__bar {
    background-color: $elementColor;
    width: 90vw;
    max-width: 480px;
    height: 59px;
    box-shadow: 0px 0px 15px 0px #00000026;
    border-radius: 3px;
    display: flex;
    margin-bottom: 51px;
    @include responsive-desktop {
      margin-left: 81px;
      margin-bottom: 0px;
    }
    button {
      border-radius: 3px;
      height: 59px;
      width: 70px;
      background-color: $elementColor;
      border-style: none;
      cursor: pointer;

      img {
        height: 20px;
        width: 20px;
      }
    }
    input {
      height: 59px;
      width: 400px;
      background-color: $elementColor;
      border-style: none;
      padding: 0px;
      font-size: $fontSize2;
      color: white;
    }
  }
  &__filter {
    display: flex;
    border-radius: 3px;
    align-self: self-start;
    background-color: $elementColor;
    border-style: none;
    box-shadow: 0px 0px 15px 0px #00000026;
    margin-bottom: 42px;
    color: white;
    padding: 0px 0px 0px 24px;
    font-size: $fontSize1;
    height: 56px;
    width: 248px;

    @include responsive-desktop {
      align-self: self-end;
      margin-right: 81px;
    }

    option {
      border-radius: 3px;
      &:first-child {
        margin-top: 4px;
      }
    }
  }
}
.container__countries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include responsive-desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 73px;
  }
  @include responsive-tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 35px;
  }
}
